.FormationContainerMobile{
    display: flex;
    color: white;
    flex-direction: column;
    height: 100%;
    align-items: center;
}
.formationCardsContainerMobile{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formationCardsMobile{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85vw;
    font-size: 1em;
}
.cardTitleMobile{
    margin-top: 10%;
    margin-bottom: 5%;
}
.cardSubtitleMobile{
    margin-bottom: 25px;
}
.iFrameContainerMobile{
    width: 90%;
}
.iFrameContainerMobile iframe{
    width: 100%;
}
.FormationMainTextMobile{
    width: 85%;
}
.FormationEndTextContainerMobile{
    display: flex;
    align-items: center;
    height: 10%;
}