.FormationContainer{
    width: 100%;
    height: 100%;
    position: relative;
}
.FormationMainText{
    opacity: 0;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iFrameContainer iframe{
    border-radius: 15px;
    box-shadow: 1px 5px 15px 1px black;
}
.iFrameContainer{
    width: 100%;
}
.formationCardsContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50%;
}
.iFrameBackground{
    position: absolute;
    width: 290px;
    height: 225px;
    background-color: black;
    z-index: -1;
    border-radius: 15px;
    box-shadow: 1px 5px 15px 1px black;
}
.cardTitle{
    margin-bottom: 25px;
}
.formationCards{
    opacity: 0;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardSubtitle{
    margin-bottom: 20px;
    text-align: center;
}
.FormationEndTextContainer{
    display: flex;
    opacity: 0;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
}
.formationTitleOnView{
    animation: fade 2s forwards;
}
.formationCardOneOnView{
    animation: CardOneFade 3s forwards;
}
.formationCardTwoOnView{
    animation: CardTwoFade 3s forwards;
}
.formationCardThreeOnView{
    animation: CardThreeFade 3s forwards;
}
.formationEndtextOnView{
    animation: formationEndTextAnimation 2s forwards;
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}
@keyframes CardOneFade {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}
@keyframes CardTwoFade {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}
@keyframes CardThreeFade {
    0%{
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}
@keyframes formationEndTextAnimation {
    0%{
        opacity: 0;
        scale: 0.8;
    }
    100%{
        opacity: 100%;
        scale: 1;
    }
}


// .iFrameHoverLink{  ACA ESTOY INTENTANDO HACER EL HOVER PARA DESCARGAR EL ARCHIVO >:C
//     background-color: black;
//     width: 284.5px;
//     height: 220.5px;
//     position: absolute;
//     z-index: 1;
// }