*{
    margin: 0;
    padding: 0;
}

.mainContainer{
    position: fixed;
    z-index: 2;
    background: -webkit-linear-gradient(to bottom, #1e1e1e 40%,#2c3e50 60%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #1e1e1e 20%,#2c3e50 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 40%;
    height: 100vh;
    left: 0;
    top: 0;
    display: block;
    box-shadow: 0.5px 0.5px 20px rgb(59, 59, 59);
}

.logo{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkList{
    height: 60%;
    display: block;
    text-align: start;
    margin-top: 30px;
    position: relative;
    z-index: 3;
}
.Mobile__LinkContainer{
    margin-left: 50px;

}
.linkList ul li{
    height: 50px;
    display: flex;
    align-items: center;
}

.linkList ul li:hover{
    background-color: #2c3e50;
    border-radius: 2px;
}
.socialMediaContainer{
    height: 40%;
    margin-top: 50px;
}
.socialMediaIcon{
    height: 100%;
    margin: 10px;
}
