.proyectContainer{
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    z-index: 0;
    position: relative;
}

.proyectAtLeft{
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    width: 85%;

}
.proyectAtLeft p{
    margin-right: 15%;
    
}
.proyectAtRight{
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    width: 100%;

}
.proyectAtRight p{
    margin-left: 15%;
}

.entryFromLeft{

    animation: animatedLentry 2s forwards;
}
.entryFromRight{
    
    animation: animatedRentry 2s forwards;
}

@keyframes animatedLentry {
    0%{
        opacity: 0;
        margin-left: 9%;
    }
    50%{
        opacity: 1;
    }
    100%{
        scale: 1;
        margin-left: 14%;
    }
}

@keyframes animatedRentry {
    0%{
        opacity: 0;
        margin-left: 10%;
    }
    50%{
        opacity: 1;

    }
    100%{
        scale: 1;
        margin-left: 5%;
    }
}
.proyectContainer img{
    width: 300px;
    box-shadow: 1px 4px 10px 2px black;
}
.codeLinkButtonBox{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.codeLinkButton{
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 32px;
    box-shadow: 1px 1px 5px 1px black;
    z-index: 1;
    position: relative;
    cursor: pointer;
}