.proyectContainer{
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.proyectAtLeft{
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    width: 85%;

}
.proyectAtLeft p{
    margin-right: 15%;
}
.proyectAtLeft img{
    
}
.proyectAtRight{
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    width: 85%;

}
.proyectAtRight p{
    margin-left: 15%;
}
.proyectAtRight img{
    
}

.entryFromLeft{

    animation: animatedLentry 2s forwards;
}
.entryFromRight{
    
    animation: animatedRentry 2s forwards;
}

@keyframes animatedLentry {
    0%{
        opacity: 0;
        margin-left: 9%;
    }
    50%{
        opacity: 1;
    }
    100%{
        scale: 1;
        margin-left: 14%;
    }
}

@keyframes animatedRentry {
    0%{
        opacity: 0;
        margin-left: 10%;
    }
    50%{
        opacity: 1;

    }
    100%{
        scale: 1;
        margin-left: 5%;
    }
}
