.vid{
  width: 100%;
  height: 100vh;
}

.videoDesktop{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
}

.vid .texto{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vid .textBox{
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 550px;
  justify-content: center;
  align-items: start;
  text-align: start;
}

.textBox h1{
  font-size:7em;
  margin-bottom: 15px;
}
.textBox h2{
  font-size: 4em;
  margin-bottom: 15px;
}
.textBox h3{
  font-size: 3em;
  margin-bottom: 15px;
}
.textBox h4{
  font-size: 2em;
  margin-bottom: 15px;
}

.texto .cursor{
  top: 0;
  left: 0;
  height: 45%;
  background-color: white;
  width: 4px;
}

.texto img{
  margin-left: 15em;
  border-radius: 600px;
  animation: profilePicture 6s infinite alternate;
}

@media (max-width: 1290px){
  .texto img{
    display: none;
  }
  .texto .cursor{
    display: none;
  }
}

@keyframes profilePicture{
  0%{
    scale: 1.5;
  }
  100%{
    scale: 1.6;
  }
}

